@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This project is implemented by Çağrı TEZEL for Porte, as a Case Study for the job interview.</p>
    <p></p>
    <p>Project is implemanted using <a> ASP.NET Core MVC, Visual Studio Core and Entity Framework.</a></p>
</div>

<div class="text-center">
    <h2 class="display-5">Technical Explanations</h2>
    <p>This project uses two tables, Boxes and ShipmentParts and scripts for DB is attached to Git repository. </p>
    <p>Please change appsettings.json for server and database name. </p>
    <p></p>
    <p><a>DbInitiliazer.cs</a> class defines the input for Boxes table. For other inputs, please change this class.</p>
    <p></p>
    <p>There is only one view and controller for the case, since it is sufficient for implementing the specifications.</p>
    <p></p>
    <p>SplitBoxesToParts and CreateParts actions change the view. I can actually calculate all with one action (you can see it from the code).</p>
    <p>But I split it because of the two-function specification.</p>

    <p>Kindest Regards,</p>
    <p>İ. Çağrı TEZEL</p>
</div>
